{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/calendar.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
{% endblock %}

{% block extra_js %}
<script src="{% static 'bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'fullcalendar/index.global.min.js' %}"></script>
<script>
    var calendarEvents = {{ activities|safe }};
</script>
<script src="{% static 'js/calendar.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container">
    <a class="btn btn-primary" href="{% url 'calendar_init' %}">Sync with Google Calendar</a>
    <div id='calendarID'></div>
</div>
{% endblock %}
