{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block extra_js %}
{% endblock %}

{% block content %}
<div class="login-content">
    <div class="login-container">

        <div class="login-title">
            Login
        </div> 

        <form class="login-form" method="post">
            {% csrf_token %}
            <input type="text" placeholder="Username" name="username" required>
            <input type="password" placeholder="Password" name="password" required>
            <button type="submit">Login</button>
        </form>

        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="sign-up">
            Or <a href="{% url 'register' %}">Sign Up</a>
        </div>

    </div>
</div>
{% endblock %}